.imageContainer {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
  padding: 0;
  /* No padding */
}

.imageWrapper {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.image {
  display: block;
  width: 100%;
  height: auto;
 
  transition: filter 0.3s ease;
}




.imageContainer::before {
  content: '';
  position: absolute;
  top: 2em;
  /* Moves the top border off-screen */
  left: 1.2em;
  right: -1.2em;
  /* Extends the border slightly to the right */
  bottom: -1em;
  /* Extends the border below the image */
  border: 2px solid orange;
  /* Thinner border */
  z-index: 0;
  /* Places the border behind the image */
  transition: transform 0.3s ease;
}

.imageContainer:hover::before {
  transform: scale(1.05);
  /* Border grows on hover */
}