.container {
  background-color: #1C1C1C ;
  font-size: 1rem;
  font-family: monospace;
  font-weight: 600;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 1em;
}

.container a {
  text-decoration: none;
}
.logo-wrapper{
  display: flex;
  gap: -1em;
 color: #fFa500;
  cursor: pointer;
  font-weight: 900;
}


.nav-wrapper {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .8em;
  color: #ffffff;
}




.right-section-wrapper-desktop a {
  margin-left: 1em;
  transition: all .25s;
  cursor: pointer;
  font-weight: 900;
}

.nav-wrapper a:hover {

  font-size: 1.2em;
  color:#FF8C00;

}

.menu-icon,
.close-icon {
  display: none;
}

@media(max-width:768px) {
  .container {
    position: fixed;
  }

  .right-section-wrapper-desktop {
    display: none;
  }

  .right-section-wrapper-mobile {
    display: block;
    background: linear-gradient(180deg, rgb(57, 54, 54)  0%,  rgb(255, 165, 0)100%);
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 3000;
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 65%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .right-section-wrapper-mobile a {
    margin-bottom: 2em;
    font-size: 1.5rem;
    transition: all .25s;
    cursor: pointer;
  }

  .menu-icon,
  .close-icon {
    display: block;
    color: #fFa500;
    cursor: pointer;

  }

  .close-icon {

    position: absolute;
    top: 20px;
    right: 60px;
  }

  .content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, .3);

  }
}

@media(max-width:340px) {
  .right-section-wrapper-mobile a {
    font-size: 1.2rem;
  }
}